*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target

*~
.#*
*#

*.iml
*.idea*
cms.iml
.idea
/stallion
build.ipy
/notes
makedocs.ipy
.sass-cache
src/test/resources/a_minimal_site/app-data/
src/test/resources/ui_demo/app-data/